<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login_Form</title>
    <meta
            name="description"
            content="This is a full stack form build by express js"
    />
    <link rel="stylesheet" href="../../public/style.css" />
    <link rel="stylesheet" href="../../public/footer.css" />

</head>
<body>